@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cellphone{
  font-size: 0.6rem;
  color: aliceblue;
}
.small-icon{
  font-size: 0.8rem;
  color: aliceblue;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-x{
  display: flex;
  justify-content: center;
}

.center-y{
  display: flex;
  align-items: center;
}
.sub-text{
  color: #949395;
  font-size: 0.9rem;
}

.principal-sub{
  color: #949395;
  font-size: 2rem;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.principal-text{
  color: #646cff;
  font-size: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card {
  padding: 2em;
}

#app {
  margin: 20px;
}
.sub-text{
  color: #949395;
  font-size: 0.9rem;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #1b191b;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', sans-serif;
}

p{
  font-family: 'Hind', sans-serif;
}
